{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      {% for category in categories %}
        <div class="col-lg-3 col-6">
          <a href="{% url 'payment_add' pk=category.pk %}">
            <div class="small-box bg-info">
              {% if category.payment_sum %}
                <div class="inner">
                  <h3>{{ category.name }}</h3>
                  <h2>{{ category.payment_sum }}₽</h2>
                  <!-- Отладочный вывод -->
                  <p>Debug: {{ category.payment_sum }}</p>
                  <p>Дата : {{ category.payments.first.payment_date|date:"Y-m-d" }}</p>
                  <p>Комментарии : {{ category.payments.first.comment }}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'income_add' pk=category.pk %}" class="small-box-footer"><h5>Добавить доход</h5></a>
                <a href="{% url 'income_list' %}" style="display: block; text-align: center; margin-top: 10px;">Посмотреть список доходов</a>
              {% else %}
                <div class="inner">
                  <h3>0 ₽</h3>
                </div>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- Total Income Box -->
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>Доходы<sup style="font-size: 40px"></sup></h3>
          <p>{{ total_income }} ₽</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">Подробнее<i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <!-- Total Expenses Box -->
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>Расходы</h3>
          <p>{{ total_sum }}₽</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">Подробнее<i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <!-- Payment History Card -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">История платежей</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Категория</th>
            <th>Дата</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payment_history %}
            <tr>
              <td>{{ payment.category__name }}</td>
              <td>{{ payment.payment_date }}</td>
              <td>{{ payment.summa }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Income History Card -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">История доходов</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Категория</th>
            <th>Дата</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          {% for income in income_history %}
            <tr>
              <td>{{ income.category__name }}</td>
              <td>{{ income.income_date }}</td>
              <td>{{ income.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
