{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Редактировать счет</h2>

    <form method="post" action="{% url 'portfolio_edit' pk=portfolio.pk %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="name">Имя счета:</label>
        <input type="text" name="name" class="form-control" value="{{ portfolio.name }}" required>
      </div>

      <div class="form-group">
        <label for="currency">Валюта:</label>
        <input type="text" name="currency" class="form-control" value="{{ portfolio.currency }}" readonly>
      </div>

      <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
  </div>
{% endblock %}
